.our-products-section {
    padding: 40px 0;
    text-align: center;
}

.products-heading-display {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: left;
    position: relative;
}

.arrows-container {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
}

.products-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin-top: 2rem;
}

.products-list {
    display: flex; 
    transition: transform 0.3s ease;
    width: calc(110%); /* Ensure full width */
    margin: 0; /* Remove left margin to align items */
}

.product-item {
    margin: 0 10px; /* Set horizontal gap */
    flex: 0 0 auto; /* Ensures items don't shrink */
    width: calc(100% / 3.3); /* Adjust this based on how many items to show */
}

.square-image-container {
    width: 380px; /* Width of product image */
    height: 200px; /* Height of product image */
    display: inline-block;
    position: relative;
    cursor: pointer; /* Make it clear it's clickable */
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0; /* Ensure square shape, no rounded corners */
}

.black-small-div {
    position: absolute;
    bottom: 5%; /* Keep text overlay at the bottom */
    left: 10%; /* Align the div from the left side */
    background-color: #000; /* Black background */
    color: white; /* White text color */
    padding: 5px 10px; /* Padding inside the overlay */
    text-align: center; /* Center the text within the div */
    border-radius: 5px; /* Slightly rounded corners */
    width: auto; /* Ensure width adjusts to the text */
}


.slider-arrow {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: #333;
    margin-left: 5px; /* Gap between arrows */
}

.slider-arrow:disabled {
    color: lightgray;
    cursor: not-allowed;
}

.better-world-section {
    text-align: center;
    margin-top: 50px;
}

.test2 {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 5em;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.image-container {
    margin-top: 20px;
}

.better-world-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}



