/* Footer Section Styling */
.footer-section {
    background-color: #007f5c;
    color: #fff;
    padding: 40px 0;
    width: 100%;
}
.footer-section p {
    
    color: #fff;
    
}

.footer-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-logo-section {
    text-align: left;
    margin-bottom: 40px;
    margin-top: 30px;
}

.footer-logo {
    width: 180px;
    margin-bottom: 10px;
    filter: brightness(0) invert(1); /* Converts colors to white */
}




.footer-contact-info h4, .footer-helpful-links h4 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.footer-contact-list,
.footer-links-list {
    list-style: none;
    padding: 0;
}

.footer-contact-list li,
.footer-links-list li {
    margin-bottom: 10px;
}

.footer-contact-list li {
    display: flex;
    align-items: center;
}

.footer-contact-list li span {
    margin-left: 10px;
}

.footer-contact-list li svg {
    color: #fff;
    font-size: 18px;
}

.footer-links-list li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links-list li a:hover {
    color: #1e399b;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid rgb(255, 255, 255);
}

.footer-bottom-text a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom-text a:hover {
    color: #075c12;
}

@media (max-width: 768px) {
    .footer-row {
        flex-direction: column;
        text-align: center;
    }

    .footer-logo-section,
    .footer-contact-info,
    .footer-helpful-links {
        margin-bottom: 30px;
    }
}
